/* ___________________styleguide.html___________________ */
.A_MainHeader,
.A_SectionHeader,
.A_SectionDopHeader,
h4 {
  line-height: 1.2;
  font-weight: 500;
}
.A_MainHeader {
  font-size: 120rem;
  font-weight: 700;
}
.A_SectionHeader {
  font-size: 56rem;
}
.A_SectionDopHeader {
  font-size: 48rem;
}
h4 {
  font-size: 36rem;
}
.A_Text,
.A_HeaderLink,
.A_SidebarMenuLink {
  font-size: 24rem;
  line-height: 1.5;
}
.A_HeaderLink {
  color: #dcdcdc;
  text-decoration: none;
  transition: all 0.3s ease;
}
.A_HeaderLink:hover {
  color: #fff;
  transition: all 0.6s ease;
  text-decoration: underline;
}
.A_SidebarMenuLink {
  background-color: #fff;
  border-radius: 10rem;
  padding: 6rem 20rem;
  text-decoration: none;
  color: rgb(68, 68, 68);
  transition: all 0.4s ease;
}
.A_SidebarMenuLink:hover {
  background-color: rgb(142, 177, 240);
  color: white;
  transition: all 0.8s ease;
}

/* ___________________articles.html___________________ */
.A_HeaderLogo {
  text-decoration: none;
  font-weight: 600;
  font-size: 24rem;
  color: black;
}
.A_HeaderLink {
  text-decoration: none;
  font-size: 18rem;
  color: black;
}
.A_HeaderLink:hover {
  text-decoration: underline;
}
.A_BGFlower {
  width: 100%;
}
.A_ArticlesTag {
  background-color: cornflowerblue;
  color: white;
  border-radius: 30rem;
  padding: 12rem 20rem;
}
.A_ArticleSwiperHeader {
  font-size: 60rem;
  line-height: 1.2;
}
/* ________________articles & test_______________ */

.A_Question,
.A_TestResultHeader {
  font-size: 40rem;
  line-height: 1.2;
  margin-top: 50rem;
}
.A_ArticleSwiperEl,
.A_NumberOfQuestion,
.A_TestName,
.A_TestResultCount {
  font-size: 12rem;
  text-transform: uppercase;
}
.A_TestName {
  margin-top: 50rem;
}
.A_AnswerText,
.A_TestResultParagraph {
  font-size: 26rem;
}
.A_FalseCheckbox {
  position: absolute;
  left: 0;
  width: 20rem;
  height: 20rem;
  border: 1.4rem solid cornflowerblue;
  border-radius: 8rem;
  background-color: #eee;
}
.A_TrueCheckbox {
  position: relative;
  opacity: 0;
  z-index: 2;
  margin: 0;
  width: 20rem;
  height: 20rem;
}
.A_TrueCheckbox:checked + .A_FalseCheckbox {
  background-color: cornflowerblue;
}
.A_TestResultImage {
  width: 25%;
}

/* ___________________index.html & switch___________________ */
.A_IndexSectionButtonCircle {
  position: relative;
  width: 36rem;
  height: 36rem;
  border-radius: 20rem;
  background-color: cornflowerblue;
  transition: all 0.5s ease-in;
  display: block;
}
.A_IndexSectionButtonText {
  text-decoration: none;
  color: black;
  font-size: 16rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.5s ease-in;
  position: absolute;
  top: 10rem;
  right: 20rem;
}

.A_IndexSectionHeader {
  text-decoration: none;
  font-weight: 600;
  font-size: 48rem;
  color: black;
}
.A_IndexSectionDescription {
  text-decoration: none;
  font-size: 24rem;
  color: black;
  margin-top: 20rem;
}
.A_IndexSectionCardHeader,
.A_ArticleTeaserHeader {
  font-weight: 500;
  font-size: 24rem;
  line-height: 1.2;
}
.A_IndexSectionCardDescription,
.A_ArticleTeaserDescription {
  font-size: 18rem;
  line-height: 1.2;
}
.A_IndexSectionCardTag,
.A_ArticleTeaserTag {
  padding: 6rem 18rem;
  background-color: cornflowerblue;
  color: white;
  border-radius: 20rem;
  font-weight: 500;
}
.A_SwitchTheme {
  position: relative;
  width: 46rem;
  height: 26rem;
}
