/* ___________________articles.html___________________ */
.M_BGCircle {
  border-radius: 100%;
  background: linear-gradient(156deg, #8db5fe 12.87%, #3c42ce 91.35%);
  position: absolute;
}
.M_BGCircle:nth-of-type(1) {
  left: -4%;
  top: 34%;
  width: 600rem;
  height: 600rem;
}
.M_BGCircle:nth-of-type(2) {
  right: -4%;
  top: 20%;
  width: 400rem;
  height: 400rem;
}
/* ________________test_______________ */
.M_AnswerMessage {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10rem;
}
.M_TestResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30rem;
}

/* ___________________index.html & switch___________________ */
.M_IndexSectionButton {
  width: 180rem;
  text-decoration: none;
  position: relative;
}
.M_IndexSectionButton:hover .A_IndexSectionButtonCircle {
  width: 100%;
}
.M_IndexSectionButton:hover .A_IndexSectionButtonText {
  color: #ffffff;
}
.M_IndexSectionButton:hover .Q_IndexSectionButtonArrow {
  background-color: white;
  width: 30rem;
  transition: all 0.5s ease-in;
}
.M_IndexSectionButton:hover .Q_IndexSectionButtonArrow::before {
  right: 0rem;
}

/* ___________________tests.html___________________ */
.M_FilterTags {
  display: flex;
  flex-wrap: wrap;
  gap: 16rem;
  margin: 30rem auto;
  width: 80%;
}

.M_SearchResult {
  color: black;
  text-decoration: none;
  width: 100%;
  padding: 10rem;
}
.M_SearchResult:hover {
  color: white;
  background-color: cornflowerblue;
}
