/* ___________________articles.html___________________ */
.W_ArticlesSwiper {
  width: 60%;
  border-radius: 40rem;
  transition: transform 0.8s ease;
}
.W_ArticlesSwiper:hover {
  transform: translateY(-1vw);
}
.W_ArticlesBG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* ________________articles & test_______________ */
.W_ArticlesSlide,
.W_Test,
.W_IndexSectionCard,
.W_ArticleTeaser,
.W_TestCard {
  border-radius: 40rem;
  backdrop-filter: blur(10px);
  background-color: #dddddd58;
  border: 1rem solid #eee;
  display: flex;
  flex-direction: column;
  gap: 30rem;
  padding: 30rem 40rem;
  color: black;
  text-decoration: none;
}
.W_Test {
  width: 880rem;
  margin: 80rem auto 0;
}
.W_ArticleTeaser {
  width: 48.5%;
  background-repeat: no-repeat;
  background-size: 26%;
  background-position: bottom right;
}
.W_ArticleTeaser > * {
  width: 60%;
}

/* ___________________index.html & switch___________________ */
.W_Header {
  display: flex;
  gap: 20rem;
}
.W_IndexSectionHeader {
  display: flex;
  justify-content: space-between;
}
.W_IndexSectionCard {
  width: 30%;
  transition: transform 0.6s ease;
}
.W_IndexSectionCard:hover {
  transform: translateY(10rem);
  transition: transform 0.6s ease;
}

/* ___________________tests.html___________________ */
.W_TestCard {
  width: 20%;
  display: flex;
  min-height: 14vw;
  background-image: url('../../images/flowers/flower-1.svg');
  background-repeat: no-repeat;
  background-size: 7vw;
  background-position: right bottom;
}
