/* ___________________styleguide.html___________________ */
.S_StyleguedeContent {
  display: flex;
  padding: 20rem 0;
  align-items: flex-start;
}

/* ___________________articles.html___________________ */
.S_ArticlesPage {
  font-size: 16rem;
}
