/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/stylesheets/reset.css ***!
  \*****************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/stylesheets/fonts.css ***!
  \*****************************************************************************/
@font-face {
  font-family: 'PT Root UI';
  src: url(fonts/f82344daaacb5424b169.woff),
    url(fonts/f31c5219b0912845f393.woff2);
  font-weight: 700;
}
@font-face {
  font-family: 'PT Root UI';
  src: url(fonts/e24244df074291681cd3.woff),
    url(fonts/6f2ccf4ac327e1d6507e.woff2);
  font-weight: 500;
}
@font-face {
  font-family: 'PT Root UI';
  src: url(fonts/ea7178e3e5d27a1d3248.woff),
    url(fonts/b43dba986b9cde356afd.woff2);
  font-weight: 400;
}
@font-face {
  font-family: 'PT Root UI';
  src: url(fonts/8bf08d3a5b04f523d0d4.woff),
    url(fonts/f0497492db8214d4938e.woff2);
  font-weight: 300;
}

/*!******************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/stylesheets/layout.css ***!
  \******************************************************************************/
* {
  box-sizing: border-box;
}
html {
  font-size: calc(1vw / 14.4);
}
body {
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
  font-size: 14rem;
  background-color: #333;
}
.zaglushka {
  background-color: #333;
  color: #eee;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
.zaglushka h1 {
  font-size: 36rem;
  font-weight: 500;
  line-height: 42rem;
}
.zaglushka p {
  font-size: 24rem;
  line-height: 30rem;
}
.zaglushka > div {
  width: 48%;
}
.zaglushka img {
  width: 80%;
  position: relative;
  z-index: 10;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20rem 0 0 20rem;
  position: relative;
}
.text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20rem;
  background-color: rgba(10, 10, 10, 0.6);
  padding: 30rem;
  border-radius: 30rem;
  backdrop-filter: blur(20rem);
}
input[name='message'] {
  width: 66%;
  height: 56rem;
  border-radius: 100rem;
  outline: none;
  border: 1rem solid transparent;
  padding: 0 20rem;
  background-color: #44444466;
  color: #eee;
  transition: border ease 0.3s;
}
input[name='message']:focus {
  border: 1rem solid #eee;
  transition: border ease 0.6s;
}
#my-form-button {
  width: 30%;
  border-radius: 100rem;
  border: none;
  padding: 18rem 20rem;
  background-color: #699dd3;
  color: #eee;
  font-size: 20rem;
  cursor: pointer;
}
#my-form-status {
  font-size: 14rem;
  padding-left: 20rem;
}
.text_animation {
  position: absolute;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
}
.anim {
  width: 330rem;
  height: 330rem;
  border-radius: 100%;
  filter: blur(50rem);
}
.anim:nth-of-type(1),
.anim:nth-of-type(4) {
  background-color: #699dd3;
}
.anim:nth-of-type(3),
.anim:nth-of-type(2) {
  background-color: #d369d3;
}

/*!*********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/stylesheets/animation.css ***!
  \*********************************************************************************/
.text_animation {
  animation: rotate 10s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

/*!********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/stylesheets/adaptive.css ***!
  \********************************************************************************/
@media screen and (max-width: 600px) {
  html {
    font-size: calc(1vw / 3.9);
  }
  .zaglushka {
    flex-direction: column-reverse;
  }
  .zaglushka > div {
    width: 100%;
  }
  .text {
    padding: 20rem;
  }
  .zaglushka img {
    width: 60%;
    margin: 0 auto;
    display: block;
  }
  .anim {
    width: 180rem;
    height: 180rem;
    filter: blur(20rem);
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 20rem;
  }
  input[name='message'],
  #my-form-button {
    width: 100%;
    font-size: 20rem;
  }
}

/*!***********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/stylesheets/style.css ***!
  \***********************************************************************************************************************/



/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiaW5kZXguY3NzIiwibWFwcGluZ3MiOiI7OztBQUFBOzs7Q0FHQzs7QUFFRDs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7O0VBaUZFLFNBQVM7RUFDVCxVQUFVO0VBQ1YsU0FBUztFQUNULGVBQWU7RUFDZixhQUFhO0VBQ2Isd0JBQXdCO0FBQzFCO0FBQ0EsZ0RBQWdEO0FBQ2hEOzs7Ozs7Ozs7OztFQVdFLGNBQWM7QUFDaEI7QUFDQTtFQUNFLGNBQWM7QUFDaEI7QUFDQTs7RUFFRSxnQkFBZ0I7QUFDbEI7QUFDQTs7RUFFRSxZQUFZO0FBQ2Q7QUFDQTs7OztFQUlFLFdBQVc7RUFDWCxhQUFhO0FBQ2Y7QUFDQTtFQUNFLHlCQUF5QjtFQUN6QixpQkFBaUI7QUFDbkI7Ozs7O0FDaElBO0VBQ0UseUJBQXlCO0VBQ3pCOzJDQUN1QztFQUN2QyxnQkFBZ0I7QUFDbEI7QUFDQTtFQUNFLHlCQUF5QjtFQUN6QjsyQ0FDeUM7RUFDekMsZ0JBQWdCO0FBQ2xCO0FBQ0E7RUFDRSx5QkFBeUI7RUFDekI7MkNBQzBDO0VBQzFDLGdCQUFnQjtBQUNsQjtBQUNBO0VBQ0UseUJBQXlCO0VBQ3pCOzJDQUN3QztFQUN4QyxnQkFBZ0I7QUFDbEI7Ozs7O0FDdkJBO0VBQ0Usc0JBQXNCO0FBQ3hCO0FBQ0E7RUFDRSwyQkFBMkI7QUFDN0I7QUFDQTtFQUNFLHVEQUF1RDtFQUN2RCxnQkFBZ0I7RUFDaEIsc0JBQXNCO0FBQ3hCO0FBQ0E7RUFDRSxzQkFBc0I7RUFDdEIsV0FBVztFQUNYLFdBQVc7RUFDWCxhQUFhO0VBQ2IsOEJBQThCO0VBQzlCLGVBQWU7QUFDakI7QUFDQTtFQUNFLGdCQUFnQjtFQUNoQixnQkFBZ0I7RUFDaEIsa0JBQWtCO0FBQ3BCO0FBQ0E7RUFDRSxnQkFBZ0I7RUFDaEIsa0JBQWtCO0FBQ3BCO0FBQ0E7RUFDRSxVQUFVO0FBQ1o7QUFDQTtFQUNFLFVBQVU7RUFDVixrQkFBa0I7RUFDbEIsV0FBVztBQUNiO0FBQ0E7RUFDRSxhQUFhO0VBQ2Isc0JBQXNCO0VBQ3RCLHVCQUF1QjtFQUN2Qix3QkFBd0I7RUFDeEIsa0JBQWtCO0FBQ3BCO0FBQ0E7RUFDRSxhQUFhO0VBQ2Isc0JBQXNCO0VBQ3RCLHVCQUF1QjtFQUN2QixVQUFVO0VBQ1YsdUNBQXVDO0VBQ3ZDLGNBQWM7RUFDZCxvQkFBb0I7RUFDcEIsNEJBQTRCO0FBQzlCO0FBQ0E7RUFDRSxVQUFVO0VBQ1YsYUFBYTtFQUNiLHFCQUFxQjtFQUNyQixhQUFhO0VBQ2IsOEJBQThCO0VBQzlCLGdCQUFnQjtFQUNoQiwyQkFBMkI7RUFDM0IsV0FBVztFQUNYLDRCQUE0QjtBQUM5QjtBQUNBO0VBQ0UsdUJBQXVCO0VBQ3ZCLDRCQUE0QjtBQUM5QjtBQUNBO0VBQ0UsVUFBVTtFQUNWLHFCQUFxQjtFQUNyQixZQUFZO0VBQ1osb0JBQW9CO0VBQ3BCLHlCQUF5QjtFQUN6QixXQUFXO0VBQ1gsZ0JBQWdCO0VBQ2hCLGVBQWU7QUFDakI7QUFDQTtFQUNFLGdCQUFnQjtFQUNoQixtQkFBbUI7QUFDckI7QUFDQTtFQUNFLGtCQUFrQjtFQUNsQixVQUFVO0VBQ1YsYUFBYTtFQUNiLGVBQWU7QUFDakI7QUFDQTtFQUNFLGFBQWE7RUFDYixjQUFjO0VBQ2QsbUJBQW1CO0VBQ25CLG1CQUFtQjtBQUNyQjtBQUNBOztFQUVFLHlCQUF5QjtBQUMzQjtBQUNBOztFQUVFLHlCQUF5QjtBQUMzQjs7Ozs7QUNyR0E7RUFDRSxxQ0FBcUM7QUFDdkM7QUFDQTtFQUNFO0lBQ0Usb0JBQW9CO0VBQ3RCO0VBQ0E7SUFDRSxvQ0FBb0M7RUFDdEM7RUFDQTtJQUNFLGtDQUFrQztFQUNwQztBQUNGOzs7OztBQ2JBO0VBQ0U7SUFDRSwwQkFBMEI7RUFDNUI7RUFDQTtJQUNFLDhCQUE4QjtFQUNoQztFQUNBO0lBQ0UsV0FBVztFQUNiO0VBQ0E7SUFDRSxjQUFjO0VBQ2hCO0VBQ0E7SUFDRSxVQUFVO0lBQ1YsY0FBYztJQUNkLGNBQWM7RUFDaEI7RUFDQTtJQUNFLGFBQWE7SUFDYixjQUFjO0lBQ2QsbUJBQW1CO0VBQ3JCO0VBQ0E7SUFDRSxhQUFhO0lBQ2Isc0JBQXNCO0lBQ3RCLFVBQVU7RUFDWjtFQUNBOztJQUVFLFdBQVc7SUFDWCxnQkFBZ0I7RUFDbEI7QUFDRiIsInNvdXJjZXMiOlsid2VicGFjazovL2IyNGRzMDgvLi9zcmMvc3R5bGVzaGVldHMvcmVzZXQuY3NzIiwid2VicGFjazovL2IyNGRzMDgvLi9zcmMvc3R5bGVzaGVldHMvZm9udHMuY3NzIiwid2VicGFjazovL2IyNGRzMDgvLi9zcmMvc3R5bGVzaGVldHMvbGF5b3V0LmNzcyIsIndlYnBhY2s6Ly9iMjRkczA4Ly4vc3JjL3N0eWxlc2hlZXRzL2FuaW1hdGlvbi5jc3MiLCJ3ZWJwYWNrOi8vYjI0ZHMwOC8uL3NyYy9zdHlsZXNoZWV0cy9hZGFwdGl2ZS5jc3MiXSwic291cmNlc0NvbnRlbnQiOlsiLyogaHR0cDovL21leWVyd2ViLmNvbS9lcmljL3Rvb2xzL2Nzcy9yZXNldC8gXG4gICB2Mi4wIHwgMjAxMTAxMjZcbiAgIExpY2Vuc2U6IG5vbmUgKHB1YmxpYyBkb21haW4pXG4qL1xuXG5odG1sLFxuYm9keSxcbmRpdixcbnNwYW4sXG5hcHBsZXQsXG5vYmplY3QsXG5pZnJhbWUsXG5oMSxcbmgyLFxuaDMsXG5oNCxcbmg1LFxuaDYsXG5wLFxuYmxvY2txdW90ZSxcbnByZSxcbmEsXG5hYmJyLFxuYWNyb255bSxcbmFkZHJlc3MsXG5iaWcsXG5jaXRlLFxuY29kZSxcbmRlbCxcbmRmbixcbmVtLFxuaW1nLFxuaW5zLFxua2JkLFxucSxcbnMsXG5zYW1wLFxuc21hbGwsXG5zdHJpa2UsXG5zdHJvbmcsXG5zdWIsXG5zdXAsXG50dCxcbnZhcixcbmIsXG51LFxuaSxcbmNlbnRlcixcbmRsLFxuZHQsXG5kZCxcbm9sLFxudWwsXG5saSxcbmZpZWxkc2V0LFxuZm9ybSxcbmxhYmVsLFxubGVnZW5kLFxudGFibGUsXG5jYXB0aW9uLFxudGJvZHksXG50Zm9vdCxcbnRoZWFkLFxudHIsXG50aCxcbnRkLFxuYXJ0aWNsZSxcbmFzaWRlLFxuY2FudmFzLFxuZGV0YWlscyxcbmVtYmVkLFxuZmlndXJlLFxuZmlnY2FwdGlvbixcbmZvb3RlcixcbmhlYWRlcixcbmhncm91cCxcbm1lbnUsXG5uYXYsXG5vdXRwdXQsXG5ydWJ5LFxuc2VjdGlvbixcbnN1bW1hcnksXG50aW1lLFxubWFyayxcbmF1ZGlvLFxudmlkZW8ge1xuICBtYXJnaW46IDA7XG4gIHBhZGRpbmc6IDA7XG4gIGJvcmRlcjogMDtcbiAgZm9udC1zaXplOiAxMDAlO1xuICBmb250OiBpbmhlcml0O1xuICB2ZXJ0aWNhbC1hbGlnbjogYmFzZWxpbmU7XG59XG4vKiBIVE1MNSBkaXNwbGF5LXJvbGUgcmVzZXQgZm9yIG9sZGVyIGJyb3dzZXJzICovXG5hcnRpY2xlLFxuYXNpZGUsXG5kZXRhaWxzLFxuZmlnY2FwdGlvbixcbmZpZ3VyZSxcbmZvb3RlcixcbmhlYWRlcixcbmhncm91cCxcbm1lbnUsXG5uYXYsXG5zZWN0aW9uIHtcbiAgZGlzcGxheTogYmxvY2s7XG59XG5ib2R5IHtcbiAgbGluZS1oZWlnaHQ6IDE7XG59XG5vbCxcbnVsIHtcbiAgbGlzdC1zdHlsZTogbm9uZTtcbn1cbmJsb2NrcXVvdGUsXG5xIHtcbiAgcXVvdGVzOiBub25lO1xufVxuYmxvY2txdW90ZTpiZWZvcmUsXG5ibG9ja3F1b3RlOmFmdGVyLFxucTpiZWZvcmUsXG5xOmFmdGVyIHtcbiAgY29udGVudDogJyc7XG4gIGNvbnRlbnQ6IG5vbmU7XG59XG50YWJsZSB7XG4gIGJvcmRlci1jb2xsYXBzZTogY29sbGFwc2U7XG4gIGJvcmRlci1zcGFjaW5nOiAwO1xufVxuIiwiQGZvbnQtZmFjZSB7XG4gIGZvbnQtZmFtaWx5OiAnUFQgUm9vdCBVSSc7XG4gIHNyYzogdXJsKCcuLi9mb250cy9wdC1yb290LXVpX2JvbGQud29mZicpLFxuICAgIHVybCgnLi4vZm9udHMvcHQtcm9vdC11aV9ib2xkLndvZmYyJyk7XG4gIGZvbnQtd2VpZ2h0OiA3MDA7XG59XG5AZm9udC1mYWNlIHtcbiAgZm9udC1mYW1pbHk6ICdQVCBSb290IFVJJztcbiAgc3JjOiB1cmwoJy4uL2ZvbnRzL3B0LXJvb3QtdWlfbWVkaXVtLndvZmYnKSxcbiAgICB1cmwoJy4uL2ZvbnRzL3B0LXJvb3QtdWlfbWVkaXVtLndvZmYyJyk7XG4gIGZvbnQtd2VpZ2h0OiA1MDA7XG59XG5AZm9udC1mYWNlIHtcbiAgZm9udC1mYW1pbHk6ICdQVCBSb290IFVJJztcbiAgc3JjOiB1cmwoJy4uL2ZvbnRzL3B0LXJvb3QtdWlfcmVndWxhci53b2ZmJyksXG4gICAgdXJsKCcuLi9mb250cy9wdC1yb290LXVpX3JlZ3VsYXIud29mZjInKTtcbiAgZm9udC13ZWlnaHQ6IDQwMDtcbn1cbkBmb250LWZhY2Uge1xuICBmb250LWZhbWlseTogJ1BUIFJvb3QgVUknO1xuICBzcmM6IHVybCgnLi4vZm9udHMvcHQtcm9vdC11aV9saWdodC53b2ZmJyksXG4gICAgdXJsKCcuLi9mb250cy9wdC1yb290LXVpX2xpZ2h0LndvZmYyJyk7XG4gIGZvbnQtd2VpZ2h0OiAzMDA7XG59XG4iLCIqIHtcbiAgYm94LXNpemluZzogYm9yZGVyLWJveDtcbn1cbmh0bWwge1xuICBmb250LXNpemU6IGNhbGMoMXZ3IC8gMTQuNCk7XG59XG5ib2R5IHtcbiAgZm9udC1mYW1pbHk6ICdQVCBSb290IFVJJywgQXJpYWwsIEhlbHZldGljYSwgc2Fucy1zZXJpZjtcbiAgZm9udC1zaXplOiAxNHJlbTtcbiAgYmFja2dyb3VuZC1jb2xvcjogIzMzMztcbn1cbi56YWdsdXNoa2Ege1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjMzMzO1xuICBjb2xvcjogI2VlZTtcbiAgd2lkdGg6IDEwMCU7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGp1c3RpZnktY29udGVudDogc3BhY2UtYmV0d2VlbjtcbiAgcG9zaXRpb246IGZpeGVkO1xufVxuLnphZ2x1c2hrYSBoMSB7XG4gIGZvbnQtc2l6ZTogMzZyZW07XG4gIGZvbnQtd2VpZ2h0OiA1MDA7XG4gIGxpbmUtaGVpZ2h0OiA0MnJlbTtcbn1cbi56YWdsdXNoa2EgcCB7XG4gIGZvbnQtc2l6ZTogMjRyZW07XG4gIGxpbmUtaGVpZ2h0OiAzMHJlbTtcbn1cbi56YWdsdXNoa2EgPiBkaXYge1xuICB3aWR0aDogNDglO1xufVxuLnphZ2x1c2hrYSBpbWcge1xuICB3aWR0aDogODAlO1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIHotaW5kZXg6IDEwO1xufVxuLnRleHQge1xuICBkaXNwbGF5OiBmbGV4O1xuICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xuICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcbiAgcGFkZGluZzogMjByZW0gMCAwIDIwcmVtO1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG59XG4udGV4dF93cmFwcGVyIHtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gIGdhcDogMjByZW07XG4gIGJhY2tncm91bmQtY29sb3I6IHJnYmEoMTAsIDEwLCAxMCwgMC42KTtcbiAgcGFkZGluZzogMzByZW07XG4gIGJvcmRlci1yYWRpdXM6IDMwcmVtO1xuICBiYWNrZHJvcC1maWx0ZXI6IGJsdXIoMjByZW0pO1xufVxuaW5wdXRbbmFtZT0nbWVzc2FnZSddIHtcbiAgd2lkdGg6IDY2JTtcbiAgaGVpZ2h0OiA1NnJlbTtcbiAgYm9yZGVyLXJhZGl1czogMTAwcmVtO1xuICBvdXRsaW5lOiBub25lO1xuICBib3JkZXI6IDFyZW0gc29saWQgdHJhbnNwYXJlbnQ7XG4gIHBhZGRpbmc6IDAgMjByZW07XG4gIGJhY2tncm91bmQtY29sb3I6ICM0NDQ0NDQ2NjtcbiAgY29sb3I6ICNlZWU7XG4gIHRyYW5zaXRpb246IGJvcmRlciBlYXNlIDAuM3M7XG59XG5pbnB1dFtuYW1lPSdtZXNzYWdlJ106Zm9jdXMge1xuICBib3JkZXI6IDFyZW0gc29saWQgI2VlZTtcbiAgdHJhbnNpdGlvbjogYm9yZGVyIGVhc2UgMC42cztcbn1cbiNteS1mb3JtLWJ1dHRvbiB7XG4gIHdpZHRoOiAzMCU7XG4gIGJvcmRlci1yYWRpdXM6IDEwMHJlbTtcbiAgYm9yZGVyOiBub25lO1xuICBwYWRkaW5nOiAxOHJlbSAyMHJlbTtcbiAgYmFja2dyb3VuZC1jb2xvcjogIzY5OWRkMztcbiAgY29sb3I6ICNlZWU7XG4gIGZvbnQtc2l6ZTogMjByZW07XG4gIGN1cnNvcjogcG9pbnRlcjtcbn1cbiNteS1mb3JtLXN0YXR1cyB7XG4gIGZvbnQtc2l6ZTogMTRyZW07XG4gIHBhZGRpbmctbGVmdDogMjByZW07XG59XG4udGV4dF9hbmltYXRpb24ge1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIHotaW5kZXg6IDA7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGZsZXgtd3JhcDogd3JhcDtcbn1cbi5hbmltIHtcbiAgd2lkdGg6IDMzMHJlbTtcbiAgaGVpZ2h0OiAzMzByZW07XG4gIGJvcmRlci1yYWRpdXM6IDEwMCU7XG4gIGZpbHRlcjogYmx1cig1MHJlbSk7XG59XG4uYW5pbTpudGgtb2YtdHlwZSgxKSxcbi5hbmltOm50aC1vZi10eXBlKDQpIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogIzY5OWRkMztcbn1cbi5hbmltOm50aC1vZi10eXBlKDMpLFxuLmFuaW06bnRoLW9mLXR5cGUoMikge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZDM2OWQzO1xufVxuIiwiLnRleHRfYW5pbWF0aW9uIHtcbiAgYW5pbWF0aW9uOiByb3RhdGUgMTBzIGxpbmVhciBpbmZpbml0ZTtcbn1cbkBrZXlmcmFtZXMgcm90YXRlIHtcbiAgMCUge1xuICAgIHRyYW5zZm9ybTogcm90YXRlKDApO1xuICB9XG4gIDUwJSB7XG4gICAgdHJhbnNmb3JtOiByb3RhdGUoMTgwZGVnKSBzY2FsZSgxLjUpO1xuICB9XG4gIDEwMCUge1xuICAgIHRyYW5zZm9ybTogcm90YXRlKDM2MGRlZykgc2NhbGUoMSk7XG4gIH1cbn1cbiIsIkBtZWRpYSBzY3JlZW4gYW5kIChtYXgtd2lkdGg6IDYwMHB4KSB7XG4gIGh0bWwge1xuICAgIGZvbnQtc2l6ZTogY2FsYygxdncgLyAzLjkpO1xuICB9XG4gIC56YWdsdXNoa2Ege1xuICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW4tcmV2ZXJzZTtcbiAgfVxuICAuemFnbHVzaGthID4gZGl2IHtcbiAgICB3aWR0aDogMTAwJTtcbiAgfVxuICAudGV4dCB7XG4gICAgcGFkZGluZzogMjByZW07XG4gIH1cbiAgLnphZ2x1c2hrYSBpbWcge1xuICAgIHdpZHRoOiA2MCU7XG4gICAgbWFyZ2luOiAwIGF1dG87XG4gICAgZGlzcGxheTogYmxvY2s7XG4gIH1cbiAgLmFuaW0ge1xuICAgIHdpZHRoOiAxODByZW07XG4gICAgaGVpZ2h0OiAxODByZW07XG4gICAgZmlsdGVyOiBibHVyKDIwcmVtKTtcbiAgfVxuICBmb3JtIHtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gICAgZ2FwOiAyMHJlbTtcbiAgfVxuICBpbnB1dFtuYW1lPSdtZXNzYWdlJ10sXG4gICNteS1mb3JtLWJ1dHRvbiB7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgZm9udC1zaXplOiAyMHJlbTtcbiAgfVxufVxuIl0sIm5hbWVzIjpbXSwic291cmNlUm9vdCI6IiJ9*/