@media screen and (max-width: 600px) {
  html {
    font-size: calc(1vw / 3.9);
  }
  .zaglushka {
    flex-direction: column-reverse;
  }
  .zaglushka > div {
    width: 100%;
  }
  .text {
    padding: 20rem;
  }
  .zaglushka img {
    width: 60%;
    margin: 0 auto;
    display: block;
  }
  .anim {
    width: 180rem;
    height: 180rem;
    filter: blur(20rem);
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 20rem;
  }
  input[name='message'],
  #my-form-button {
    width: 100%;
    font-size: 20rem;
  }
}
