@import 'reset.css';
@import 'fonts.css';
* {
  box-sizing: border-box;
}
html {
  font-size: calc(1vw / 14.4);
}
body {
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
}
input[name='message'] {
  width: 66%;
  height: 56rem;
  border-radius: 100rem;
  outline: none;
  border: 1rem solid transparent;
  padding: 0 20rem;
  background-color: #44444466;
  color: #eee;
  transition: border ease 0.3s;
}
input[name='message']:focus {
  border: 1rem solid #eee;
  transition: border ease 0.6s;
}
#my-form-button {
  width: 30%;
  border-radius: 100rem;
  border: none;
  padding: 18rem 20rem;
  background-color: #699dd3;
  color: #eee;
  font-size: 20rem;
  cursor: pointer;
}
#my-form-status {
  font-size: 14rem;
  padding-left: 20rem;
}

@media screen and (max-width: 600px) {
  html {
    font-size: calc(1vw / 3.9);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20rem;
  }
  input[name='message'],
  #my-form-button {
    width: 100%;
    font-size: 20rem;
  }
}

.O_IndexSection {
  padding: 50rem 100rem;
  display: flex;
  flex-direction: column;
  gap: 30rem;
}
.C_IndexSectionCards {
  display: flex;
  justify-content: space-between;
}
.C_IndexSectionCardTags {
  display: flex;
  gap: 10rem;
}
.W_Header {
  display: flex;
  gap: 20rem;
}
.W_IndexSectionHeader {
  display: flex;
  justify-content: space-between;
}
.W_IndexSectionCard {
  border-radius: 40rem;
  backdrop-filter: blur(10px);
  background-color: #dddddd58;
  border: 1rem solid #eee;
  display: flex;
  flex-direction: column;
  gap: 30rem;
  padding: 30rem 40rem;
  color: black;
  text-decoration: none;
  width: 30%;
  transition: transform 0.6s ease;
}
.W_IndexSectionCard:hover {
  transform: translateY(10rem);
  transition: transform 0.6s ease;
}
.A_IndexSectionHeader {
  text-decoration: none;
  font-weight: 600;
  font-size: 48rem;
  color: black;
}
.A_IndexSectionDescription {
  text-decoration: none;
  font-size: 24rem;
  color: black;
  margin-top: 20rem;
}
.A_IndexSectionCardHeader {
  font-weight: 500;
  font-size: 24rem;
  line-height: 1.2;
}
.A_IndexSectionCardDescription {
  font-size: 18rem;
  line-height: 1.2;
}
.A_IndexSectionCardTag {
  padding: 6rem 18rem;
  background-color: cornflowerblue;
  color: white;
  border-radius: 20rem;
  font-weight: 500;
}
.A_SwitchTheme {
  position: relative;
  width: 46rem;
  height: 26rem;
}
.Q_SwitchCheckbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.Q_SwitchCircle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee;
  transition: all 0.4s ease;
  border-radius: 20rem;
}
.Q_SwitchCircle::before {
  position: absolute;
  content: '';
  width: 22rem;
  height: 22rem;
  left: 2rem;
  top: 2rem;
  background-color: white;
  transition: all 0.4s ease;
  border-radius: 100%;
}
.Q_SwitchCheckbox:checked + .Q_SwitchCircle {
  background-color: cornflowerblue;
}
.Q_SwitchCheckbox:checked + .Q_SwitchCircle::before {
  transform: translateX(20rem);
}

.dark {
  background-color: #333;

  .A_IndexSectionDescription,
  .A_IndexSectionHeader,
  .A_HeaderLogo,
  .A_HeaderLink {
    color: white;
  }
}
