@import 'reset.css';
@import 'fonts.css';

* {
  box-sizing: border-box;
}
html {
  font-size: calc(1vw / 14.4);
  scroll-behavior: smooth;
}
body {
  font-family: 'PT Root UI', sans-serif;
}
.A_MainHeader,
.A_SectionHeader,
.A_SectionDopHeader,
h4 {
  line-height: 1.2;
  font-weight: 500;
}
.A_MainHeader {
  font-size: 120rem;
  font-weight: 700;
}
.A_SectionHeader {
  font-size: 56rem;
}
.A_SectionDopHeader {
  font-size: 48rem;
}
h4 {
  font-size: 36rem;
}
.A_Text,
.A_HeaderLink,
.A_SidebarMenuLink {
  font-size: 24rem;
  line-height: 1.5;
}
.O_StyleguideHeader {
  display: flex;
  flex-direction: column;
  gap: 200rem;
  padding: 20rem;
  background-color: cornflowerblue;
  color: white;
}
.A_HeaderLink {
  color: #dcdcdc;
  text-decoration: none;
  transition: all 0.3s ease;
}
.A_HeaderLink:hover {
  color: #fff;
  transition: all 0.6s ease;
  text-decoration: underline;
}
.S_StyleguedeContent {
  display: flex;
  padding: 20rem 0;
  align-items: flex-start;
}
.O_SidebarMenu {
  width: 20%;
  padding: 0 30rem;
  position: relative;
  height: 100%;
}
.O_Sections {
  width: 60%;
}
.C_SidebarMenu {
  display: flex;
  flex-direction: column;
  padding: 10rem;
  background-color: cornflowerblue;
  border-radius: 20rem;
  gap: 10rem;
  position: fixed;
}
.A_SidebarMenuLink {
  background-color: #fff;
  border-radius: 10rem;
  padding: 6rem 20rem;
  text-decoration: none;
  color: rgb(68, 68, 68);
  transition: all 0.4s ease;
}
.A_SidebarMenuLink:hover {
  background-color: rgb(142, 177, 240);
  color: white;
  transition: all 0.8s ease;
}
